# registry=https://git.tben.me/api/packages/Moduletrace/npm/

# registry=https://git.tben.me/api/packages/Moduletrace/npm/
# //git.tben.me/api/packages/Moduletrace/npm/:_authToken=${GITBEN_NPM_TOKEN}
